@import "tailwindcss";



@font-face {
  font-family: "SFPRODISPLAYREGULAR";
  src: url("/Font/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fontspring";
  src: url("/Font/Fontspring-DEMO-P22MackinacProMedium.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}


